<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secrets</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
</head>
<body>
    <div class="container">
        <h1>Dojo Secrets</h1>
        <p><a href="/logout">Logout</a></p>
        <h3>Create a secret</h3>
        <form action="/secrets" method="POST">
            <p>Secret: <input type="text" name="secret"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
        <hr>
        <h3>All the secrets</h3>
        <ul>
            <% for(var i=0; i<users.length; i++) { %>
                <% for(var j=0; j<users[i].secrets.length; j++) { %>
                    <li>
                        <a href="/secrets/<%= users[i].secrets[j]._id %>"><%= users[i].secrets[j].secret %></a>
                        <% if(user._id.equals(users[i]._id)) { %>
                            <ul>
                                <li><a href="/secrets/<%= users[i].secrets[j]._id %>/delete">Delete</a></li>
                            </ul>
                        <% } %>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </div>
</body>
</html>