<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secret</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
</head>
<body>
    <div class="container">
        <h1><%= secret.secret %></h1>
        <p><a href="/secrets">Home</a> | <a href="/logout">Logout</a></p>
        <h3>Comment on this secret</h3>
        <% for(var i=0; i<secret.comments.length; i++) { %>
            <p><%= secret.comments[i].comment %></p>
        <% } %>
        <form action="/secrets/<%= secret._id %>/comments" method="POST">
            <p><input type="text" name="comment" placeholder="Leave your comment here!"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>
</body>
</html>